{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      // "antd-mobile",
      {
        "root": ["./"],
        "alias": {
          "@Actions": "./src/actions",
          "@Assets": "./src/assets",
          "@Components": "./src/components",
          "@Navigations": "./src/navigations",
          "@Reducers": "./src/reducers",
          "@Screeens": "./src/screens",
          "@Services": "./src/services",
          "@Store": "./src/store",
          "@Styles": "./src/styles",
          "@Themes": "./src/themes",
          "@Utils": "./src/utils",
          "@Constant": "./src/constant",
          "@Static": "./public"
        }
      }
    ]
  ]
}
